.clear_day {
  background: url("../img/icons/clear_day.svg") left no-repeat;
}

.clear_night {
  background: url("../img/icons/clear_night.svg") left no-repeat;
}

.cloudy {
  background: url("../img/icons/cloudy.svg") left no-repeat;
}

.drizzle {
  background: url("../img/icons/drizzle.svg") left no-repeat;
}

.flurries {
  background: url("../img/icons/flurries.svg") left no-repeat;
}

.fog {
  background: url("../img/icons/fog.svg") left no-repeat;
}

.fog_light {
  background: url("../img/icons/fog_light.svg") left no-repeat;
}

.freezing_drizzle {
  background: url("../img/icons/freezing_drizzle.svg") left no-repeat;
}

.freezing_rain {
  background: url("../img/icons/freezing_rain.svg") left no-repeat;
}

.freezing_rain_heavy {
  background: url("../img/icons/freezing_rain_heavy.svg") left no-repeat;
}

.freezing_rain_light {
  background: url("../img/icons/freezing_rain_light.svg") left no-repeat;
}

.ice_pellets {
  background: url("../img/icons/ice_pellets.svg") left no-repeat;
}

.ice_pellets_heavy {
  background: url("../img/icons/ice_pellets_heavy.svg") left no-repeat;
}

.mostly_clear_day {
  background: url("../img/icons/mostly_clear_day.svg") left no-repeat;
}

.mostly_clear_night {
  background: url("../img/icons/mostly_clear_night.svg") left no-repeat;
}

.mostly_cloudy {
  background: url("../img/icons/mostly_cloudy.svg") left no-repeat;
}

.partly_cloudy_day {
  background: url("../img/icons/partly_cloudy_day.svg") left no-repeat;
}

.partly_cloudy_night {
  background: url("../img/icons/partly_cloudy_night.svg") left no-repeat;
}

.rain {
  background: url("../img/icons/rain.svg") left no-repeat;
}

.rain_heavy {
  background: url("../img/icons/rain_heavy.svg") left no-repeat;
}

.rain_light {
  background: url("../img/icons/rain_light.svg") left no-repeat;
}

.snow {
  background: url("../img/icons/snow.svg") left no-repeat;
}

.snow_heavy {
  background: url("../img/icons/snow_heavy.svg") left no-repeat;
}

.snow_light{
  background: url("../img/icons/snow_light.svg") left no-repeat;
}

.tstorm{
  background: url("../img/icons/tstorm.svg") left no-repeat;
}
