.map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__coordinates {
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    @include font($size: 2rem, $height: 3.5rem, $weight: normal);
    @include media-laptop {
      @include font($size: 1.6rem, $height: 2.5rem, $weight: normal);

    }
  }
}

.leaflet-container {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 5%;
  //top: 15%;
}
